############################
# Reserved Files
############################
!*.xco
!*.mhs
!*.xmp
!*/ddr3_controller_mig_saved.prj

############################
# Ignore Folders
############################
/work/.Xil
/work/_ngo
/work/elaborate
/work/isim
/work/xlnx_auto_0_xdb
/work/xst
/work/smartxplorer_setup
/work/planAhead_run_1
/work/smartxplorer_results
**/bak/
**/tmp/
**/temp/
**/xlnx_auto_0_xdb/
**/iseconfig
**/_xmsgs
/ss
**/assist_data/
**/assist_data1/
**/assist_data2/
**/assist_data3/
/remote_sources/Sigtrum_RTL_Lib/FDKV2p01/l006_APPS/DDC_5034/sg/20170814
############################
# Ignore Files
############################
/remote_sources/FDK/XPS
**/ipcore_dir/*.tcl
**/ipcore_dir/coregen.cgp
**/ipcore_dir/coregen.log
**/ipcore_dir/*.gise
**/ipcore_dir/*.txt
**/ipcore_dir/*.sym
**/ipcore_dir/*.veo
**/ipcore_dir/*.asy
**/ipcore_dir/*.xise
**/ipcore_dir/*.ncf
**/ipcore/*.tcl
**/ipcore/coregen.cgp
**/ipcore/coregen.log
**/ipcore/*.gise
**/ipcore/*.txt
**/ipcore/*.sym
**/ipcore/*.veo
**/ipcore/*.asy
**/ipcore/*.xise
**/ipcore/*.ncf
/work/*.tcl
/work/*.mem
/work/*.v
/work/*.cmd_log
/work/*.do
/work/*.html
/work/*.xml
/work/*.txt
/work/*.csv
/work/*.xrpt
/work/*.mrp
/work/*.ncd
/work/*.ngm
/work/*.log
/work/*.map
/work/*.ngc
/work/*.mti
/work/*.mpf
/work/*.ini
/work/*.pad
/work/*.par
/work/*.pcf
/work/*.ptwx
/work/*.stx
/work/*.syr
/work/*.twr
/work/*.twx
/work/*.unroutes
/work/*.ut
/work/*.xdl
/work/*.xpi
/work/*.xst
/work/*.xds
/work/*.vhd
/work/*.ncf
/work/*.debug
/work/*.udo
/work/*.fdo
/work/*.mif
/work/*.filter
/work/*.xmsgs
/work/*.cmd
/work/*.bat
/work/*.bgn
/work/*.bld
/work/*.drc
/work/*.iso
/work/*.ngr
/work/*.ngd
/work/*.lso
/work/*.blc
/work/*.xwbt
/work/transcript
###################################################################
# for planAhead projects
/*.cache
/*.data/cache
**/edk/mb_system
**/.jobs
**/impl_*/.constrs
**/impl_*/_ngo
**/impl_*/_xmsgs
**/impl_*/xlnx_auto_*
**/synth_*/_xmsgs
**/synth_*/xst
**/coregen.cgc
**/coregen.cgp
/*.jou
/*.log
/*.txt
**/ip/**/*.xml
**/ip/**/*.asy
**/ip/**/*.txt
**/ip/**/*.sym
**/ip/**/*.veo
**/ip/**/*.xise
**/ip/**/*.gise
**/ip/**/*.ncf
**/ip/**/*.tcl
**/ip/**/*.log

**/impl_*/*.rst
**/impl_*/*.sh
**/impl_*/*.tcl
**/impl_*/*.mem
**/impl_*/*.v
**/impl_*/*.cmd_log
**/impl_*/*.do
**/impl_*/*.html
**/impl_*/*.xml
**/impl_*/*.txt
**/impl_*/*.csv
**/impl_*/*.xrpt
**/impl_*/*.mrp
**/impl_*/*.ngm
**/impl_*/*.log
**/impl_*/*.map
**/impl_*/*.ngc
**/impl_*/*.mti
**/impl_*/*.mpf
**/impl_*/*.ini
**/impl_*/*.pad
**/impl_*/*.par
**/impl_*/*.pcf
**/impl_*/*.ptwx
**/impl_*/*.stx
**/impl_*/*.syr
**/impl_*/*.twr
**/impl_*/*.twx
**/impl_*/*.unroutes
**/impl_*/*.ut
**/impl_*/*.xdl
**/impl_*/*.xpi
**/impl_*/*.xst
**/impl_*/*.xds
**/impl_*/*.vhd
**/impl_*/*.ncf
**/impl_*/*.debug
**/impl_*/*.udo
**/impl_*/*.fdo
**/impl_*/*.mif
**/impl_*/*.filter
**/impl_*/*.xmsgs
**/impl_*/*.bat
**/impl_*/*.bgn
**/impl_*/*.bld
**/impl_*/*.blc
**/impl_*/*.cmd
**/impl_*/*.drc
**/impl_*/*.edf
**/impl_*/*.iso
**/impl_*/*.ngr
**/impl_*/*.ncd
**/impl_*/*.ngd
**/impl_*/*.lso
**/impl_*/*.xwbt
**/impl_*/*.js
**/impl_*/*.psr
**/synth_*/*.rst
**/synth_*/*.js
**/synth_*/*.txt
**/synth_*/*.bat
**/synth_*/*.log
**/synth_*/*.sh
**/synth_*/*.lso
**/synth_*/*.xrpt
**/synth_*/*.srp
/*.srcs/sources_1/ip/asi_fifo_128_4k/asi_fifo_128_4k
/*.srcs/sources_1/ip/asi_fifo_256_4k/asi_fifo_256_4k
/*.srcs/sources_1/ip/asi_fifo_512_1k/asi_fifo_512_1k
/*.srcs/sources_1/ip/ipcore/axi4_dma_fifo
/*.srcs/sources_1/ip/ipcore/dsi_fifo_512_1k
/*.srcs/sources_1/ip/pcie_align_ram/pcie_align_ram
/*.srcs/sources_1/ip/pcie_dma_input_fifo/pcie_dma_input_fifo
/*.srcs/sources_1/ip/pcie_dma_output_fifo/pcie_dma_output_fifo
/*.srcs/sources_1/ip/pcie_gen2/pcie_gen2
